<div class="d-flex h-100 w-100">
  <!-- left -->
  <div class="d-flex flex-column w-50">
    <p>
      Use the
      <br />
      Scanner Input
      <br />
      <input
        #box
        [value]="value"
        (keyup)="update(box.value)"
        (blur)="update(box.value)"
        placeholder="You must select this"
      />

      {{ value }}
    </p>
    <p>or</p>
    <p>
      Search Here<br />
      <input #manual />
      <br />
      <br />
      <button (click)="submit(manual)" type="button" class="btn btn-success">
        Search By Name Or Number Or Pin
      </button>
    </p>
    <!-- considered added just a pin serach -->
    <div
      *ngFor="let m of resultOfSearch"
      class="d-flex justify-content-between py-2"
    >
      <div>
        {{ m.fullName }}
      </div>
      <div class="btn btn-success" (click)="saveCheckin(m.key!)">checkin</div>
    </div>
  </div>
  <!-- right -->
  <div class="d-flex flex-column w-50">
    <div *ngIf="error">
      error couldnt find member
      <br />
      {{ errorText }}
    </div>

    <div>
      Success full checkins
      <br />
      <div *ngFor="let s of success" class="d-flex flex-column">
        <div>{{ s.fullName }}</div>
      </div>
    </div>
  </div>
</div>
