<div class="d-flex h-100 w-100">
  <!-- left -->
  <div class="d-flex flex-column w-50">
    <p>
      Scanner input
      <br />
      <input
        #box
        [value]="value"
        (keyup)="update(box.value)"
        (blur)="update(box.value)"
      />

      {{ value }}
    </p>
    <!-- <p>
  <button (click)="enter()" type="button" class="btn btn-success">Enter</button>
</p> -->
    <p>
      Search<br />
      <input #manual />
      <br />
      <button (click)="submit(manual)" type="button" class="btn btn-success">
        Search by name or number or pin
      </button>
    </p>
    <!-- considered added just a pin serach -->
    <div *ngFor="let m of resultOfSearch" class="d-flex justify-content-between py-2">
      <div>
        {{m.fullName}}</div>
      <div class="btn btn-info" (click)="saveCheckin(m.key!)">checkin</div>
    </div>  
  </div>
  <!-- right -->
  <div class="d-flex flex-column w-50">
    <div *ngIf="error">
      error couldnt find member
      <br />
      {{ errorText }}
    </div>
    <div>
      Success full checkins
      <br />
      <!-- todo make list for success -->
    </div>
  </div>
</div>
