<div class="container">
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Home Component</a></li>
    <li><a routerLink="/meal" routerLinkActive="active">Reactive meal signup</a></li>
    <li><a routerLink="/meal2" routerLinkActive="active">template meal signup</a></li>
    <li><a routerLink="/console" routerLinkActive="active">console checkin</a></li>
    <li><a routerLink="/admin" routerLinkActive="active">admin</a></li>
    <li><a routerLink="/admin/import-users" routerLinkActive="active">User upload</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
</div>