$firstColWidth: 200px;
// tr > td:not(:first-child):not(:last-child) {
//   // display: none;
//   background-color: white;
// }

table {
  border-collapse: separate;
  border-spacing: 0;
  border-top: 1px solid grey;
  padding-left: $firstColWidth;
}

td,
th {
  margin: 0;
  border: 1px solid grey;
  white-space: nowrap;
  border-top-width: 0px;
}

#tableWrapper {
  width: 100%;
  overflow-x: scroll;
  margin-left: 5em;
  overflow-y: visible;
  padding: 0;
}
//#tableWrapper > table > tr:nth-child(5) > td:nth-child(1)

tr:nth-child(n + 1) > td:nth-child(1) {
  // color: red;
  position: absolute;
  width: $firstColWidth;
  left: 50px;
  top: auto;
  border-top-width: 1px;
  background-color: lightgrey;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
}

// tr:nth-child(1) {
//   position: absolute;
//   top: auto;
// }

// tr > td:not(:first-child) {
//   margin-left: $firstColWidth;
//   background: black;
//   // letter-spacing: 1em;
// }
$altBgColor: skyblue;
$altColor: black;
tr.heads:nth-child(6n - 1),
tr.heads:nth-child(6n),
tr.heads:nth-child(6n + 1) {
  background-color: $altBgColor;
  color: $altColor;
}

td.body:nth-child(2n) {
  background-color: $altBgColor;
  color: $altColor;
}

.problem {
  background-color: red;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.perfect {
  background-color: green;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
