<p>
  current assumption is the is b.l.d. for everyday while we do not have the meal
  schedule imported
</p>

<div id="tableWrapper" class="m-0 p-0">
  <table class="container jakeScroll m-0 py-0 pr-0">
    <tr class="">
      <td class="">Name</td>
      <th colspan="1" *ngFor="let d of datesToShow">
        <div>{{ d }}</div>
        <div>meal code : actual : expect count</div>
      </th>
    </tr>

    <tr class="body" *ngFor="let mas of attendDanceToShow">
      <td class="py-1 d-flex justify-content-between">
        <div>{{ mas.self.fullName }}</div>
        <div class="text-capitalize">{{ mas.self.personType }}</div>
      </td>
      <td class="" *ngFor="let t of mas.tendies">
        <div class="d-flex w-100">
          <div
            class="px-2 py-1 w-100"
            *ngFor="let mc of ['b', 'l', 'd']"
            [ngClass]="{ problem: t.classes[mc] != 0 }"
          >
            {{ mc }}:{{ t.count[mc] }}:{{ t.reservations[mc] }}
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
