<p>
  current assumption is the is b.l.d. for everyday while we do not have the meal
  schedule imported
</p>

<div id="tableWrapper" class="m-0 p-0">
  <table class="container jakeScroll m-0 py-0 pr-0">
    <tr class="">
      <td class="">Name</td>
      <th class="" colspan="3" *ngFor="let d of datesToShow">{{ d }}</th>
    </tr>

    <tr class="body" *ngFor="let mas of attendDanceToShow">
      <td class=".text-wrap">{{ mas.name }}</td>
      <td class="" *ngFor="let t of mas.tendies">
        {{ t }}
      </td>
    </tr>
  </table>
</div>
