<p>
  current assumption is the is b.l.d. for everyday while do not have the meal
  schedule imported
</p>
<download-csv [fileName]="'attendance export'" [data]="exportData"
  >Attendace Report download</download-csv
>

<div id="tableWrapper" class="m-0 p-0 vw-100">
  <table class="container jakeScroll m-0 py-0 pr-0">
    <tr class="">
      <td class="">Name</td>
      <th class="" *ngFor="let d of datesToShow">{{ d }}</th>
    </tr>
    <ng-container *ngFor="let mealC of ['b', 'l', 'd']">
      <tr class="heads">
        <td>
          Full Totals <span class="text-uppercase">{{ mealC }}</span>
        </td>
        <td *ngFor="let t of totals">
          {{
            getMC(t.nrg, mealC) +
              getMC(t.staff, mealC) +
              getMC(t.volunteer, mealC)
          }}
        </td>
      </tr>
      <tr class="heads">
        <td>
          Staff + NRG Totals <span class="text-uppercase">{{ mealC }}</span>
        </td>
        <td *ngFor="let t of totals">
          {{ getMC(t.nrg, mealC) + getMC(t.staff, mealC) }}
        </td>
      </tr>
      <tr class="heads">
        <td>
          Volunteer Totals <span class="text-uppercase">{{ mealC }}</span>
        </td>
        <td *ngFor="let t of totals">
          {{ getMC(t.volunteer, mealC) }}
        </td>
      </tr>
    </ng-container>

    <tr class="body" *ngFor="let mas of attendDanceToShow">
      <td class=".text-wrap">{{ mas.self.fullName }}</td>
      <td class="" *ngFor="let t of mas.tendies">
        {{ t }}
      </td>
    </tr>
  </table>
</div>
