<p>
  current assumption is the is b.l.d. for everyday while do not have the meal
  schedule imported
</p>

<table class="container jakeScroll">
  <tr class="">
    <td class="">Name</td>
    <td class="" *ngFor="let d of datesToShow">{{ d }}</td>
  </tr>
  <tr>
    <td>Staff + NRG Totals</td>
    <td></td>
  </tr>
  <tr>
    <td>Volunteer Totals</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr class="" *ngFor="let mas of attendDanceToShow">
    <td class=".text-wrap">{{ mas.name }}</td>
    <td class="" *ngFor="let t of mas.tendies">
      {{ t }}
    </td>
  </tr>
</table>
