<p>
  current assumption is the is b.l.d. for everyday while do not have the meal
  schedule imported
</p>

<table class="container jakeScroll">
  <tr class="">
    <td class="">Name</td>
    <td class="" *ngFor="let d of datesToShow">{{ d }}</td>
  </tr>
  <ng-container *ngFor="let mealC of ['b', 'l', 'd']">
    <tr>
      <td>
        Staff + NRG Totals <span class="text-uppercase">{{ mealC }}</span>
      </td>
      <td *ngFor="let t of totals">
        {{ getMC(t.nrg, mealC) + getMC(t.staff, mealC) }}
      </td>
    </tr>
    <tr>
      <td>
        Volunteer Totals <span class="text-uppercase">{{ mealC }}</span>
      </td>
      <td *ngFor="let t of totals">
        {{ getMC(t.volunteer, mealC) }}
      </td>
    </tr>
  </ng-container>

  <tr class="" *ngFor="let mas of attendDanceToShow">
    <td class=".text-wrap">{{ mas.name }}</td>
    <td class="" *ngFor="let t of mas.tendies">
      {{ t }}
    </td>
  </tr>
</table>
