<input
  type="file"
  class="file-input"
  (change)="onFileSelected($event)"
  #fileUpload
/>

<table>
  <tr>
    <td *ngFor="let h of headers">{{h}}</td>
  </tr>
  <tr>
    <td>Required</td>
    <td>Required</td>
    <td>Required</td>
    <td>Required</td>
    <td>Required if staff</td>
    <td>Optional</td>
    <td>Optional</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td></td>
    <td></td>
    <td>volunteer | staff
      <br>
      staff will get a login so that they manage their meal prefrence, dietary restrictions, guest counts, and pin
    </td>
    <td></td>
    <td>with this template we can deactivate users easily if we wish</td>
    <td>a pin number to lookup with the consoles</td>
  </tr>
</table>
<br>
<download-csv [data]="[headers]" [fileName]="'upload template.csv'">download a template file</download-csv>
<br>
<div class="file-upload">
  {{ fileName || "No file uploaded yet." }}
  <button
    mat-mini-fab
    color="primary"
    class="upload-btn"
    (click)="fileUpload.click()"
  >
    <div>attach_file</div>
  </button>
</div>
<br />
