// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "~bootstrap-icons/font/bootstrap-icons.css";

// Then add additional custom code here
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.cdnfonts.com/css/libre-barcode-39-text");
.barcode {
  color: black;
  background-color: white;
  font-family: "Libre Barcode 39 Text", sans-serif;
  font-size: 1.5rem;
}
.barcode::before .barcode::after {
  content: "*";
}

body {
  margin: 0;
  padding: 0;
}
