<input
  type="file"
  class="file-input"
  (change)="onFileSelected($event)"
  #fileUpload
/>

<table class="text-capitalize">
  <tr>
    <td *ngFor="let h of headers">{{ h }}</td>
  </tr>
  <tr>
    <td>Required</td>
    <td>Required</td>
    <td>Required</td>
    <td>Required</td>
    <td>Required</td>
  </tr>
  <tr>
    <td></td>
    <td>JavaScript date format please</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<br />
<download-csv
  [data]="[headers]"
  [fileName]="'Reservation Upload Template.csv'"
  class="text-capitalize"
  >download a template file</download-csv
>
<br />
<div class="file-upload">
  {{ fileName || "No file uploaded yet." }}
  <button
    mat-mini-fab
    color="primary"
    class="upload-btn"
    (click)="fileUpload.click()"
  >
    <div>attach_file</div>
  </button>
</div>
<br />
