<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{ title }}</h4>
  <button
    type="button"
    class="close"
    aria-describedby="modal-title"
    (click)="dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="form-group">
      <label>First Name</label>
      <input
        type="string"
        formControlName="firstName"
        class="form-control"
        placeholder="Enter First name"
      />
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input
        type="string"
        formControlName="lastName"
        class="form-control"
        placeholder="Enter First name"
      />
    </div>

    <div class="form-group">
      <label>Email address</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label>Entity id must be unique</label>
      <input
        type="string"
        formControlName="key"
        class="form-control"
        placeholder="Enter entity id"
      />
    </div>
    <div class="form-group">
      <label>Person Type</label><br />
      <select formControlName="personType">
        <option value="staff">Full Time Staff</option>
        <option value="kid">Children of Full Time Staff</option>
        <option value="volunteer">Volunteer</option>
        <option value="nrg" [selected]='true'>Non Registered Guest</option>
      </select>
    </div>
    <div class="form-group">
      <label>Status</label><br />
      <select formControlName="status">
        <option value="active" [selected]="true">Active</option>
        <option value="inactive">Inactive</option>
      </select>
    </div>
    <div class="form-group">
      <label>Pin if let blank one shall be generated</label>
      <input
        type="number"
        formControlName="pin"
        class="form-control"
        placeholder="Enter Pin"
      />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="dismiss()">
    Cancel
  </button>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
